.logo-search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    width: 100%;

/* background-color: red; */
}
.logo{
    width: 2.9rem;
  
}
.logo-search-box{
  background-color:var(--inputColor);
  padding: 5px;
  border-radius: 10px;
  height: 2.5rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /* padding:1rem 0; */
  position: relative;
  width: 13rem;
  display: flex;

  align-items: center;
}
.logo-search-box>input{
    border: none;
    outline: none;
    background-color: transparent;
 padding-left: 10px;
 height: 100%;
  
}
.search-icon{
   background:linear-gradient(106.23deg,#f99827,#f95f35 100%) ;
   border-radius:5px;
  padding: 4px;
   color: #ffff;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 27px;
   -webkit-border-radius:5px;
   cursor: pointer;
   position: absolute;
   right: 0;
}
